<html>

<head>
  <title>Counseling Appointment</title>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/spectre.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/spectre-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css" />
</head>

<body>
  
   <div class="fixed-nav-bar">
   <div class="navbar-wrapper--outer shadow">
     <div class="navbar-wrapper--inner padded centerize">
      <header class="navbar">
        <section class="navbar-section">
          <a href="/" class="navbar-brand">Online Counseling Appointment</a>
        </section>
        <section class="navbar-section">
          <a href="/users/add" class="btn btn-link">Request Appointment</a>
          <a href="/users" class="btn btn-link">Appointment List</a>
          <!-- <a href="/contact" class="btn btn-link">Contact Us</a> -->
        </section>
      </header>
       
     </div>
   </div>
  </div>

   <div class="sidenav">
    <a class="navbar-brand" href="#">About</a>
    <a class="navbar-brand" href="#">Services</a>
    <a class="navbar-brand" href="#">Clients</a>
    <a class="navbar-brand" href="#">Contact</a>
  </div>

