html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  color: #555;}

.padded{
    padding: 0.8rem;
}
.padded-tb{
    padding: 0.8rem 0;
}
.padded-lr{
    padding: 0 0.8rem;
}
label{
    color: #f1f1f1;
}

.vert-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerize{
    max-width: 1080px;
    margin: 0 auto;
}
.transparent-white{
    background: rgba(255,255,255,0.5);
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
   }


.shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: .25rem !important;
}
.content-wrapper--outer{
    min-height:90vh;
}
.bg-brown{
    background: 	#006400 !important;
    border-color: 	#006400 !important;
}
.text-brown{
    color: 	#006400 !important;
}
.lg-feature{
    background-size: cover !important;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/static/images/image2.jpeg') center center no-repeat;
}
.add-student-bg{
    background-size: cover !important;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/static/images/image1.jpg') center right no-repeat;
}
.edit-student-bg{
    background-size: cover !important;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/static/images/edit-student.jpg') center right no-repeat;
}
.edit-student-card{
    max-width: 768px;
    margin: 0 auto;
}
.toast{
    text-align:center;
    transition: 0.5s ease-in-out;
}
.hide{
    display: none;
    transition: 0.5s ease-in-out;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:rgb(48, 54, 65); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 70px;
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 19px;
    color: #3634d2;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 400px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
  }